* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

header{
    width: 100vw;
    padding: 10px 20px;
    top: 0;
}

.logo{
    height: max-content;
    width: max-content;
}