* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins-Regular', sans-serif;
    box-sizing: border-box;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, p, label, div, section, footer, header, li, b {
    font-family: 'Poppins';
}

body {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background-color: #fff;
    position: relative;
}

header {
    width: 100%;
    padding: 10px 20px;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    display: block;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}

nav ul li a:hover {
    font-weight: bold;
}


nav ul li a i {
    transform: scale(1, 1) !important;
    color: black !important;
}

.navbarLinks{
    width: 100%;
}

.toggleButton{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    z-index: 1;
}

.toggleButton .bar{
    height: 3px;
    width: 100%;
    background-color: #F70301;
    border-radius: 10px;
}




h2 {
    font-family: inherit;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}



.fa-brands, .fa-solid {
    margin-right: 20px;
    margin-left: 20px;
    transform: scale(2, 2);
    text-decoration: none;
    color: #F70301;
}

.fa-location-dot {
    transform: scale(1, 1);
}

.logo {
    height: 50px;
    width: 50px;
}

.logo a {
    display: block;
    margin-top: 50%;
    transform: translateY(-50%);
}

.logo a img {
    width: 50px;
}

.banner {
    display: block;
    position: relative;
}

.banner img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.banner h3 {
    font-family: 'Poppins';
    position: absolute;
    width: 100%;
    top: 40%;
    left: 0px;
    color: #fff;
    text-align: center;
    font-size: 4vw;
}

.banner label {
    font-family: 'Poppins';
    font-size: 2vw;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 51%;
    left: 0px;
    color: #fff;
    margin: 10px 0;
}

.info {
    display: flex;
    flex-direction: row;
}

.pacienteColuna {
    display: flex;
    width: 100%;
}

.pacienteColuna img {
    max-width: 100%;
    width: 76%;
    height: 78%;
    margin-left: 140px;
    margin-top: 89px;
    padding-right: 40px;

}

.tituloComIcon {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tituloComIconCentralizado {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

.duvida {
    color: black;
}

.quiro {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: flex-start;
    margin: 40px;
}

.quiro h2 {
    display: block;
    margin: 10px 0;
}

.quiro h2~h2 {
    display: block;
    margin-top: 15px;
}

.quiro p {
    margin-bottom: 10px;
    padding: 5px;
    text-align: justify;
}

.extraInfo {
    width: 100%;

}

.extraInfo h3 {
    text-align: center;
}

.extraInfo p {
    text-align: center;
    margin: 20px;
}

.extraInfo ul {
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

.iconPreto {
    color: black;
}

.profissionais {
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoProfissional {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fotoProfissional {
    height: 200px;
}

.nomeProfissional {
    margin-top: 15px;
}

.detalhes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.cards {
    display: flex;
    flex-direction: row;
}

.cardsNotInline {
    display: flex;
    flex-direction: column;
}

.cardsInline {
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 340px;
    margin: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.256);
    border-radius: 30px;
}

.card p {
    margin: 10px;
    text-align: center;
}

.unidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 70px;
}

.unidade {
    display: flex;
    flex-direction: row;
    align-self: start;
    margin-left: 100px;
    margin-bottom: 50px;
}


.fachadaUnidade {
    max-width: 100%;
    width: 500px;
    margin-right: 50px;
}

.unidadeInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 30px;
}

.nomeUnidade {
    margin-bottom: 20px;
}

.infoLocal {
    margin-bottom: 20px;
}

.telefonesContato {
    margin-bottom: 20px;
}

.btnMarcar {
    align-self: center;
    margin-left: 60px;
}

.btnMarcar img {
    height: 60px;
}

.backToTop {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 1;
}

.hidden {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    bottom: 0;
    text-align: center;
}

footer img {
    width: 100%;
    position: relative;
}

footer label {
    position: absolute;
    color: #fff;
    font-size: 1.4  vw;
}


/* 1000px*/
@media (max-width:1000px) {
    .toggleButton{
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    nav ul li{
        width: 100%;
        text-align: center;
        padding: .5rem 1rem ;
    }

    .navbarLinks.active{
        display: none;
    }


    .pacienteColuna {
        display: flex;
        justify-content: center;
    }

    .pacienteColuna img {
        max-width: 100%;
        width: 70%;
        margin: 50px 0 0 0;
        padding: 0;
    }

    .banner h3 {
        top: 30%;
        font-size: 2.125rem;
    }

    .banner label {
        font-size: 1.1rem;
        top: 51%
    }


    .quiro {
        margin: 0;
        padding: 20px;
    }


    .info {
        flex-direction: column;
    }

    .extraInfo h3 {
        text-align: center;
        display: flex;
        padding: 26px;
        justify-content: center;
    }

    .extraInfo ul {
        margin: 0;
        padding: 10px;
    }

    .extraInfo p {
        text-align: justify;
        margin: 0;
        padding: 26px;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        margin: 0;
    }

    .unidade {
        flex-direction: column;
        margin: 0 auto;
    }

    .nomeUnidade {
        margin-top: 15px;
    }

    .unidadeInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .btnMarcar {
        margin: 25px 0 0 0;

    }

    .tituloComIcon {
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .social{
        display: none;
    }
}



@media (max-width:700px) {
    .banner h3 {
        font-size: 1.5rem;
    }
}

@media (max-width:500px) {
    .banner h3 {
        font-size: 1rem;
    }

    .banner label {
        font-size: 1rem;
        top: 47%;
    }

    .unidade {
        margin: 0 auto;
    }

    .unidadeInfo {
        text-align: center;
    }

    

}

/*400px*/
@media (max-width:400px) {
    .banner h3 {
        font-size: 1.2rem;
    }

    .unidade {
        margin: 0 auto;
    }

}